*{
    margin: 0px;
    padding: 0px;
}
.li{
    list-style: none;
}
.container{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: aliceblue;
}
.con img{
    width: 200px;
}
.li{
    display: flex;
    
}
.menu{
    margin-right: 20px;
    padding-right: 7px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}
.menu:hover{
    color: blue;
}
.im img{
    width: 300px;
}
.explor{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/background.png"), linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
  
}
.pro{
    font-size: 50px;
    font-weight: bolder;
}
.par{
    font-weight: bolder;
    margin-top: 7px;
    font-size: large;
}
.but{
    background-color: red;
    margin-top: 7px;
    padding: 10px 20px;
    color: white;
    border: none;
}